---
layout: main
---
<div style="padding-right: 100px; font-family: Georgia">
  <p>
    <span class="firstcharacter">H</span>i There, this is Rahul. 
    Welcome to my website. <br />
    ere is my short introduction. <br />

    I am an engineer by profession and I am quite passionate about technology. I have 5 patent applications in my name, three of which are now granted. <br />

    I am a mentored to a few of my junior coleagues. <br />

    I am a Ruby on Rails developer with a good knowledge of full stack. Have been a technology adviser to a few startups. <br />

    I am a need based data analyst being being resonably proficient at R. <br /> 

    I am resonably good at photography, and I am pretty good at photo editing. <br />

    I make timelapse videos and have invented my own custom wrokflow to achieve high quality smooth timelapses.  <br />

    I am an occasional logo designer. Have designed logos for many startups. <br />

    And I am an aspiring/wannabe writer. <br />

    Please feel free to contact me using any of the icons below, and I would be much obliged to hear from you. <br /> <br />

    <i class="fa fa-linkedin-square fa-2x"></i> &nbsp; &nbsp;
    <i class="fa fa-500px fa-2x" aria-hidden="true"></i> &nbsp; &nbsp;
    <i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i> &nbsp; &nbsp;
    <i class="fa fa-medium fa-2x" aria-hidden="true"></i>

    <br /> <br />

    Here is a summary of my work. 



    <!-- <p >
      <span class="firstcharacter">W</span>elcome to my website. <br />
      Being an engineer, or in spite of it, I am passionate about science and technology. Professionally I have worked in the field of microelectronics for more than 11 years now. I have 5 patent applications in the fields of Semiconductor modeling, semiconductor devices and SRAM design. three of them are now granted. 
      <br />
      I have mentored a few of my junior coleagues helping them understand their career dillemas and life goals. <br />
      <i class="fa fa-linkedin-square fa-2x"></i> Please visit my linkedin profile for more information about my proessional journey. 
      <br />
      I am a profecient Ruby on Rails developer with a good knowledge of full stack development. Occasionally I use a little bit of data science with R on the side for some intellectual stimulation. <br />
      I have been associated with a few early stage startups, as a technology consultant. I help them design their technology platform from architecture to coding. 
      Please feel free to contact me if I can help you or be associated with your ideas. 
      
      <br /><br />
      I have a strong artistic alter ego. I am keenly interest in graphic design, Photography and Videography. <br />

      I have the greatest love for #Photography. I like to click and develop my photograhs with surrealistic effects. Portraits are my favorite, though landscapes comes a close second. Occasionally I also write short tutorials on photography and photo editing. <br /> 
      <i class="fa fa-500px fa-2x" aria-hidden="true"></i> Please bless me with a visit to my photobhog. 
      <br />
      As an extention to photography, I shoot a lot of timelapse videos.  <br />
      <i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i> Please visit my youtube channel to enjoy a few of them. 
      <br />
      As a graphic designer, I have tried my hands on Android app design and logo design. My logos are proudly used as brand identities by a few startups. Here is a selected collection of my logo portfolio. 
      <br />
    </p> -->
    <p>
      Here is a list of things I do <br />
    </p>
  </p>
</div>
{% for post in paginator.posts %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
    <p>{{ post.content | strip_html | truncatewords: 15 }}</p>
    <!-- <span class="post-date">{{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span> -->
    <span class="post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}</span>
  </div>
</article>
{% endfor %}

<!-- {% include pagination.html %} -->
