---
layout: main
---
<div style="padding-right: 100px; font-family: Georgia">
  <p>
    <h1>Hi There, this is Rahul</h1>
    <p >
      <span class="firstcharacter">W</span>elcome to my website. <br />
      Being an engineer, or in spite of it, I am passionate about science and technology. Professionally I have worked in the field of microelectronics for more than 11 years now. I have 5 patent applications in the fields of Semiconductor modeling, semiconductor devices and SRAM design. three of them are now granted. 
      <br />
      I have mentored few of my junior coleagues helping them understand their career dillemas and life goals. <br />
      <i class="fa fa-linkedin"></i> Please visit my linkedin profile for more information about my proessional journey. 
      <br />
      I am a profecient Ruby on Rails developer with a good knowledge of full stack development. Occasionally I use a little bit of data science with R on the side for some intellectual stimulation. <br />
      I have been associated with a few early stage startups, as a technology consultant. I help them design their technology platform from architecture to coding. 
      Please feel free to contact me if I can help you or be associated with your ideas. 
      
      <br />
      I have a strong artistic alter ego. I am keenly interest in graphic design, Photography and Videography. 

      I have developed some skills in #Photography, photo editing and videography. I like to click and develop my photograhs with surrealistic effects. Portraits are my favorite, though landscapes comes a close second. Please bless me with a visit to my <a href="https://500px.com/rahulnayak" style="text-decoration: none;">photoblog <i class="fa fa-500px" aria-hidden="true"></i></a>
      <br />
      As an extention to my love for camera, I also love to make #Timelapses. I updaate these clips on <a href="https://www.youtube.com/user/aihikii" style="text-decoration: none">youtube <i class="fa fa-youtube-play" aria-hidden="true"></i></a> as often as I make them. <br /> 
    </p>
    <p>
      Here is a list of things I do <br />
    </p>
  </p>
</div>
{% for post in paginator.posts %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
    <p>{{ post.content | strip_html | truncatewords: 15 }}</p>
    <!-- <span class="post-date">{{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span> -->
    <span class="post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}</span>
  </div>
</article>
{% endfor %}

<!-- {% include pagination.html %} -->
