<span class="mobile btn-mobile-menu">
  <i class="icon icon-list btn-mobile-menu__icon"></i>
  <i class="icon icon-x-circle btn-mobile-close__icon hidden"></i>
</span>

<header class="panel-cover" style="background-image: url({{ site.baseurl }}/assets/img/cover.jpg)">
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
    <div class="panel-main__content">
        <a href="{{ site.baseurl }}/" title="link to home of {{ site.title }}">
          <img src="{{ site.baseurl }}/assets/img/profile_image.jpg" class="user-image" alt="My Profile Photo">
          <h1 class="panel-cover__title panel-title">{{ site.title }}</h1>
        </a>
        <hr class="panel-cover__divider">
        <p class="panel-cover__description">{{ site.description }}</p>
        

        <div class="navigation-wrapper">

          <nav class="cover-navigation cover-navigation--primary">
            <ul class="navigation">
              <li class="navigation__item"><a href="{{ site.baseurl }}/#blog" title="link to {{ site.title }} blog" class="blog-button">More about me</a></li>
            </ul>
          </nav>




          <nav class="cover-navigation navigation--social">

            <ul class="navigation">

            {% if site.twitter %}
              <!-- Twitter -->
              <li class="navigation__item">
                <a href="http://twitter.com/{{ site.author.twitter }}" title="@{{ site.author.twitter }} on Twitter" target="_blank">
                  <i class="fab fa-twitter"></i>
                  <span class="label">Twitter</span>
                </a>
              </li>
            {% endif %}

            {% if site.fivehundredpx %}
              <!-- Facebook -->
              <li class="navigation__item">
                <a href="https://500px.com/{{ site.fivehundredpx }}" title="{{ site.fivehundredpx }} on 500px" target="_blank">
                  <i class="fab fa-500px"></i>
                  <span class="label">Facebook</span>
                </a>
              </li>
            {% endif %}

            {% if site.linkedin %}
              <!-- LinkedIn -->
              <li class="navigation__item">
                <a href="https://www.linkedin.com/in/{{ site.linkedin}}" title="{{ site.linkedin }} on LinkedIn" target="_blank">
                  <i class="fab fa-linkedin"></i>
                  <span class="label">LinkedIn</span>
                </a>
              </li>
            {% endif %}

            {% if site.youtube %}
              <!-- GitHub -->
              <li class="navigation__item">
                <a href="https://www.youtube.com/user/aihikii" title="My youtube channel" target="_blank">
                  <i class="fab fa-youtube"></i>
                  <span class="label">Youtube</span>
                </a>
              </li>
            {% endif %}

            {% if site.medium %}
              <!-- Email -->
              <li class="navigation__item">
                <a href="{{ site.medium }}" title="Medium {{ site.medium }}" target="_blank">
                  <i class="fab fa-medium"></i>
                  <span class="label">Medium</span>
                </a>
              </li>
            {% endif %}


            <!-- RSS -->
            <!-- <li class="navigation__item">
              <a href="{{ site.baseurl }}/feed.xml" title="Subscribe" target="_blank">
                <i class="icon icon-rss"></i>
                <span class="label">RSS</span>
              </a>
            </li> -->

            </ul>
          </nav>

        </div>

      </div>

    </div>

    <div class="panel-cover--overlay"></div>
  </div>
</header>
